<div id="page-home">
	<div class="page-inner" style="max-width: 100% !important">
		<nav class="gtco-nav" role="navigation">
			<div class="gtco-container">
				<div class="row">
					<div class="col-sm-4 col-xs-12">
						<div id="gtco-logo"><a href="">Dynamic Exams <em>.</em></a></div>
					</div>
					<div class="col-xs-8 text-right menu-1">
						<ul>
							<li class="active"><a href="features.html">HOME</a></li>
							<li class="has-dropdown" ng-if="ctrl.isAdmin" ng-mouseover="ctrl.toggleAction(true)" ng-mouseleave="ctrl.toggleAction(false)">
								<a href="#">Acciones</a>
								<ul class="dropdown" ng-class="{'animated-fast':ctrl.actionsDropped, fadeInUpMenu: ctrl.actionsDropped}">
									<li><a href="#">Nueva Materia</a></li>
									<li><a href="#">Nueva Pregunta</a></li>
									<li><a href="#">Nueva Comision</a></li>
								</ul>
							</li>
							<li><a href="#">Nuevo Examen</a></li>
							<li><a href="#">Contacto</a></li>
							<li class="btn-cta"><a href="" ng-click="ctrl.logout()"><span>Logout</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_2.jpg); height: 100vh">
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-left">
						<div class="row row-mt-15em">
							<div class="col-md-7 mt-text" data-animate-effect="fadeInUp">
								<span class="intro-text-small">Hola</span>
								<h1>{{ctrl.saludo}}</h1>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
	</div>
</div>
<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
	