<div id="page-login"> 
	<header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url(images/img_4.jpg); height: 100vh;">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					<div class="row" style="margin-top: 5em !important;">
						<div class="col-md-7 mt-text" data-animate-effect="fadeInUp">
							<span class="intro-text-small">Bienvenido a Dynamic Exams</span>
							<h1>Inicie sesion para comenzar con su tarea.</h1>	
						</div>
						<div class="col-md-4 col-md-push-1" data-animate-effect="fadeInRight">
							<div class="form-wrap">
								<div class="tab">
									<ul class="tab-menu">
										<li class="active gtco-second" style="width: 100%;"><a data-tab="login">Login</a></li>
									</ul>
									<div class="tab-content">
										<div class="tab-content-inner active" data-content="login">
											<form action="#">
												<div class="row form-group">
													<div class="col-md-12">
														<label for="username">Username</label>
														<input class="form-control" placeholder="Username" ng-model="ctrl.user.username" type="text">
													</div>
												</div>
												<div class="row form-group">
													<div class="col-md-12">
														<label for="password">Password</label>
														<input class="form-control" placeholder="Password" ng-model="ctrl.user.password" type="password">
													</div>
												</div>

												<div class="row form-group">
													<div class="col-md-12">
														<input class="btn btn-primary" type="button" value="Login" ng-click="ctrl.login(ctrl.user)">
													</div>
												</div>
											</form>	
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
							
					
				</div>
			</div>
		</div>
	</header>
</div>

<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
